*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img,
video {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.shimmer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 60px 0;
}

.shimmer-button {
    width: 300px;
    height: 60px;
    padding: 1.2em 2.8em;
    border-radius: 0.6em;
    background-color: rgb(206, 206, 206);
}

.shimmer-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.shimmer-card {
    border-radius: 15px;
    width: 300px;
    height: 200px;
    transition: all 0.4s ease;
    cursor: pointer;
    background-color: rgb(206, 206, 206);
}
